body {
  margin: 0;
  font-family: sans-serif;
}

.box {
  min-height: 100vh;
  padding: 100px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-image: radial-gradient(circle, #f2a663, #bf3f3f);
}

.card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #002029aa;
  transition-property: transform, box-shadow;
  transition-duration: 0.5s;
  background-color: #fff3;
}

.card:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 1px 1px 5px #002029aa, 1px 1px 15px #002029aa;
}

.card:first-child {
  grid-column-end: span 6;
}

.container {
  display: flex;
}

.item {
  width: calc(100% / 3);
  transition: width 0.5s linear;
}

.active {
  width: 100%;
}

header,
footer {
  padding: 20px;
  font: bold 24px sans-serif;
  background-color: #444;
  color: #fff;
}

footer {
  font-size: 1rem;
  text-align: center;
}

button {
  border: none;
  border-radius: 7px;
  background-color: orangered;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
}

button:hover {
  box-shadow: 1px 1px 7px orangered;
}

#test {
  border: 2px solid green;
  padding: 5px 5px;
}

#square {
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 10px;
}
